*
{
    font-family: 'Gothic A1', sans-serif;
}
.container
{
    padding: 0px 100px;
}
.heading
{
    height:200px;
}
.heading-text
{
    position: relative;
    top: 30%;
    text-align: center;
    font-size: 60px;
    color: grey;
}
.row
{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    transition: 0.5s;
}
.row:hover
{
    transform: scale(1.1);
}
.blog
{
    width: 50%;
}
.blog-heading
{
    font-size: 40px;
}
.blog-details
{
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
}
.blog-img:hover
{
    transform: skew(10deg);
}
.read-more
{
    text-decoration: end;
}
.read-more a
{
    text-decoration: none;
    font-size: 20px;
}
.links
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.icon
{
    font-size: 40px;
    background-color: grey;
}